

.d-86-section-home {
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
  width: auto;
}

.d-86-3d-wrapper {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  text-decoration: none;
  position: relative;
}

.d-86-blocks-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  position: absolute;
  inset: 0%;
}

.d-86-block {
  background-color: #002eeb;
  border: 3px solid #002eeb;
  position: absolute;
  inset: 0%;
}

.d-86-button-text {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0%;
}

@media screen and (max-width: 991px) {
  .browser-demo {
    width: 500px;
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .browser-demo {
    width: 400px;
  }
}
@media screen and (max-width: 479px) {
  .browser-demo {
    width: 300px;
  }
}

#w-node-_0f4ad593-19bc-1e8b-b085-4420cb01d98c-a218b6e4 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-_8b600f67-d2b5-49d2-9e6b-c0d6b03b625b-a218b6e4 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-_158c1b18-8fd0-fe76-b22b-87ec516fd9d3-a218b6e4 {
  grid-area: 1 / 3 / 2 / 4;
}

#w-node-_12d822a2-e92b-55ff-a4f5-3718b966c812-a218b6e4 {
  grid-area: 1 / 4 / 2 / 5;
}

#w-node-_948ff47f-2bb3-6a27-04a7-b03e1ea25441-a218b6e4 {
  grid-area: 1 / 5 / 2 / 6;
}

#w-node-_4007fa29-c386-628c-d1ca-76e51138ac05-a218b6e4 {
  grid-area: 1 / 6 / 2 / 7;
}

#w-node-_1306a0b9-cdb3-7c4e-1ea9-19dbcda33e95-a218b6e4 {
  grid-area: 1 / 7 / 2 / 8;
}

#w-node-_75c69474-a627-9a49-fb46-8d3ac66d77ce-a218b6e4 {
  grid-area: 1 / 8 / 2 / 9;
}

#w-node-_981875ad-8041-7666-0eee-c9c9bb6cd76e-a218b6e4 {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_77ba1fdf-d526-3569-d9e1-8998192c74f5-a218b6e4 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_771f2f79-69ed-1fa7-ca26-271806262d8c-a218b6e4 {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-e1c896ed-58a2-882b-ec79-794073fba09c-a218b6e4 {
  grid-area: 2 / 4 / 3 / 5;
}

#w-node-a247910f-0373-d64e-5a2d-4c1cd1130c80-a218b6e4 {
  grid-area: 2 / 5 / 3 / 6;
}

#w-node-_86dc394e-2bbf-e6fe-3218-5bf9a95b8999-a218b6e4 {
  grid-area: 2 / 6 / 3 / 7;
}

#w-node-dc8a9f2c-c6c9-3f4e-f963-2e1118a688d7-a218b6e4 {
  grid-area: 2 / 7 / 3 / 8;
}

#w-node-_11b164bd-7d67-35a4-84c6-691a4293f65d-a218b6e4 {
  grid-area: 2 / 8 / 3 / 9;
}

#w-node-c538ed0e-adbc-78de-f554-320c6720f7b7-a218b6e4 {
  grid-area: 3 / 1 / 4 / 2;
}

#w-node-_7f813e39-9866-db42-71ad-9aee22e87e44-a218b6e4 {
  grid-area: 3 / 2 / 4 / 3;
}

#w-node-_40f22b45-b892-0486-9a9b-04d76b423c3f-a218b6e4 {
  grid-area: 3 / 3 / 4 / 4;
}

#w-node-_67696b59-00d5-e5cc-78c1-67552c4fef4a-a218b6e4 {
  grid-area: 3 / 4 / 4 / 5;
}

#w-node-_3be508a0-6754-f5fa-8501-22c3b2f01c22-a218b6e4 {
  grid-area: 3 / 5 / 4 / 6;
}

#w-node-_06539a7e-731c-49c7-2a71-196415d5409d-a218b6e4 {
  grid-area: 3 / 6 / 4 / 7;
}

#w-node-b7636755-61fe-bc83-7f4a-f978f6f91aad-a218b6e4 {
  grid-area: 3 / 7 / 4 / 8;
}

#w-node-_8c7bea47-938d-37ca-5a9c-7d126b027760-a218b6e4 {
  grid-area: 3 / 8 / 4 / 9;
}

#w-node-_12bfa842-052f-a4a9-84b4-f7abb1419bd7-a218b6e4 {
  grid-area: 4 / 1 / 5 / 2;
}

#w-node-_602c6d2f-e6d1-9681-7a64-6030ab3f3532-a218b6e4 {
  grid-area: 4 / 2 / 5 / 3;
}

#w-node-_39a2a874-4572-5f9b-a201-782aadbe97a6-a218b6e4 {
  grid-area: 4 / 3 / 5 / 4;
}

#w-node-_5a4027f5-33b5-90a0-4702-1a5ec400dfd5-a218b6e4 {
  grid-area: 4 / 4 / 5 / 5;
}

#w-node-_88afd1da-f29d-5c86-f717-804f978e9a76-a218b6e4 {
  grid-area: 4 / 5 / 5 / 6;
}

#w-node-_0f81fb42-e5d7-5051-1add-1747bddfe04a-a218b6e4 {
  grid-area: 4 / 6 / 5 / 7;
}

#w-node-_84b2587d-b50a-ddd9-bd13-5cb07db5a29e-a218b6e4 {
  grid-area: 4 / 7 / 5 / 8;
}

#w-node-c770c51e-fa5a-d846-8815-ce4ce17d2ecf-a218b6e4 {
  grid-area: 4 / 8 / 5 / 9;
}

@font-face {
  font-family: 'Fa 400';
  src: url('https://cdn.prod.website-files.com/6801f52b6c9eef8da218b6a3/6801f52b6c9eef8da218b6f6_fa-regular-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('https://cdn.prod.website-files.com/6801f52b6c9eef8da218b6a3/6801f52b6c9eef8da218b6f4_fa-solid-900.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('https://cdn.prod.website-files.com/6801f52b6c9eef8da218b6a3/6801f52b6c9eef8da218b6f5_fa-brands-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
